body {
    background-color: honeydew;
    margin: 0;
}

div {
    background-color: darkslategray;
    width: auto;
    margin: 1rem 6rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 0.5rem;
}

p, ul {
    font-family: "Trebuchet MS";
    color: honeydew;
}

h1, h2, b {
    font-family: "Trebuchet MS";
    color: lightgreen;
}

img {
    border-radius: 1rem;
}